<article>

    <section class='container'>

        <table class='table table-striped'>
            <thead>
            <tr>
                <th>fullname</th>
                <th>email</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat='contact in contacts'>
                <td>
                    <a href='/contacts/listContacts' ng-click='deleteContact($index)' class='fa fa-times'></a>
                    <a href='/contacts/editContact/{{ contact._id }}' class='navbar-link'>{{ contact.fullname }}</a>
                </td>
                <td>{{ contact.email }}</td>
            </tr>
            </tbody>
        </table>

    </section>

</article>
