<form id="myForm">

    <section class="container">
        <p class="lead"><a href="/contacts/listContacts"><i class="fa fa-users"></i></a>&nbsp;List Contacts</p>
        <p class="lead">{{ sectionTitle }}</p>
    </section>

    <section class="container" ng-model="contact">

        <div class="form-group">
            <label for="fullname">fullname</label>
            <input id="fullname" class="form-control" type="text"
                   ng-model="contact.fullname" placeholder="Enter fullname" required focus/>
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input id="email" class="form-control" type="email" ng-model="contact.email" placeholder="Enter email" required/>
        </div>

        <div class="form-group">
            <label for="notes">email</label>
            <textarea id="notes" class="form-control" rows="3" ng-model="contact.notes" placeholder="Enter notes"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-default" ng-click="saveContact()">Save</button>
        </div>

    </section>

</form>