<article>

    <section class="container">
        <p class="lead"><a href="/myApps/contacts/contact"><i class="fa fa-user-plus"></i></a>&nbsp;Add New Contact</p>

        <div class="navbar-form" role="search" ng-model="searchCriteria">
            <div class="input-group" role="search">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchCriteria.fullname">
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="findContacts()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <table class="table table-striped table table-hover">

            <thead>
            <tr>
                <th>
                    <a href="#" ng-click="changeSorting('fullname')">fullname
                        <i ng-show="sortColumn == 'fullname'" ng-class="sortDescending ? 'fa fa-sort-desc' : 'fa fa-sort-asc'"></i>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="changeSorting('email')">email
                        <i ng-show="sortColumn == 'email'" ng-class="sortDescending ? 'fa fa-sort-desc' : 'fa fa-sort-asc'"></i>
                    </a>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="contact in contacts">
                <td>
                    <a href="/myApps/contacts" ng-click="deleteContact($index)" jim-confirm-click="Delete {{contact.fullname}}?">
                        <i class="fa fa-user-times"></i>
                    </a>
                    &nbsp;
                    <a href="/myApps/contacts/contact/{{ contact._id }}" class="navbar-link">{{ contact.fullname }}</a>
                </td>
                <td>{{ contact.email }}</td>
            </tr>
            </tbody>

        </table>
    </section>

</article>